@import "./typo";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-width: 320px;
}

body {
    font-size: 62.5%;
    font-family: $roboto-typo;
}

main {
    max-width: 1440px;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}