// GENERIC COLORS 
$clr-primary: #9356DC;
$clr-secondary: #FF79DA;
$clr-tertiary: #99E2D0;
$clr-light-black: #353535;
$clr-light-blue:  #f6f6f6;
$clr-light-grey: #f5edff;
$clr-white: white;

// SPECIFICs COLORS
$clr-text-button: white;
$clr-text-footer: white;
$clr-background-localisation:  #eaeaea;

// NEW MARKER RULES
$clr-new-marker: #008766;
$clr-new-marker-bg: #99e2d0;

// BOX SHADOW RULES 
$clr-box-shadow: #e9e9e9;