$clr-primary: #9356DC;
$clr-secondary: #FF79DA;
$clr-tertiary: #99E2D0;
$clr-light-black: #353535;
$clr-light-blue:  #f6f6f6;
$clr-light-grey: #f5edff;
$clr-white: white;
$clr-text-button: white;
$clr-text-footer: white;
$clr-background-localisation:  #eaeaea;
