@import "../components/btn-explore";
@import "../components/new-marker";
@import "../components/restaurant-card";
@import "../utils/variables";
@import "../utils/mixins";

.loader {
    background-color: $clr-light-grey;
    animation: loader 3s;
    animation-delay: 2s;
    animation-fill-mode: both;
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &-1 {
        width: 1rem;
        height: 10rem;
        background-color: $clr-primary;
        animation: tower 1.5s;
        animation-fill-mode: forwards;
        border-radius: 2rem;
    }

    &-2 {
        width: 1rem;
        height: 10rem;
        margin: 0rem 2rem;
        background-color: $clr-secondary;
        animation: tower 1.5s;
        animation-fill-mode: forwards;
        animation-delay: 0.5s;
        border-radius: 2rem;

    }

    &-3 {
        width: 1rem;
        height: 10rem;
        background-color: $clr-primary;
        animation: tower 1.5s;
        animation-fill-mode: forwards;
        animation-delay: 1s;
        border-radius: 2rem;
    }
}

.localisation {
    background-color: $clr-background-localisation;
    display: flex;
    justify-content: center;
    padding: 1.5rem;

    &__icon {
        font-size: 1rem;
        margin-right: 1rem;
    }

    &__town {
        font-size: 1rem;
        font-weight: bold;
        color: $clr-light-black;
    }
}

.description {
    background-color: $clr-light-blue;    
    padding: 1.5rem;
    h2 {
        padding: 1rem;
        margin-top: 1rem;
        font-size: 1.5rem;
        text-align: center;
    }

    p {
        padding: 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: 300;
        text-align: center;
    }
}

.step-by-step {
    margin-top: 1.5rem;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (min-width : 768px) {
        
        width: 750px;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .step-by-step-bloc {
        @include step-by-step-bloc;
        @include box-shadow;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        
        @media only screen and (min-width : 768px) {
            width: 600px; 
                        
        }
       
        &__icon {
            color: $clr-light-black;
        }
    }

    .step-by-step-bloc--focus {
        @include step-by-step-bloc;
        @include box-shadow;
        background-color: $clr-light-grey;   
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;

        @media only screen and (min-width : 768px) {
            width: 600px;              
        }
    
        i {
            color:$clr-primary;
        }
    }
}

#restaurants {
    background-color: $clr-light-blue;
    padding: 1.5rem;
    margin-top: 1.5rem;

    @media only screen and (min-width : 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    h2 {
        font-size: 1.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;

        @media only screen and (min-width : 768px) {
            width: 100%;
        }
    }
}