@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/animations";

.meal-bloc {
    @include box-shadow;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: $clr-white;

    animation: apparition-meal 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transform: scale(0);    

    &__title {
        padding: 0.5rem 0rem 0rem 0.7rem;        

        h3 {
            font-size: 1.1rem;
            margin-bottom: 0.3rem;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden; 
        }
    }

    &__text {
        display: flex;
        justify-content: space-between;
        padding: 0rem 0rem 0.5rem 0.7rem;
        font-size: 0.9rem;
        font-weight: 300; 
        
        p {
            width: 85%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;    
        }
    
        &--price {
            display: flex;
            justify-content: center;            
            font-weight: bold;
            width: 15%;
        }
    }

    &__confirmation {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $clr-tertiary;
        height: 100%;
        width: 5rem;

        i {
            padding: 0.3rem;
            border: solid 0.1rem $clr-tertiary;
            border-radius: 2rem;
            background-color: $clr-white;
            color:$clr-tertiary;
        }
    }
   
}