.new-marker {
    position: relative;
    padding: 0.4rem;
    width: 5rem;
    height: 2rem;
    text-align: center;
    left: 14.5rem;
    bottom: 11.4rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: $clr-new-marker;
    background-color: $clr-new-marker-bg;
    }