@import "../base/typo";
@import "../utils/variables";

footer {
    background-color: $clr-light-black;
    color: $clr-text-footer;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

    h2 {
        font-family: $shrikhand-typo;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

    .footer-link {
        color: $clr-text-footer;
        margin-bottom: 1rem;
    
        &__icon {
            font-size: 1rem;
            margin-right: 1rem;
        }
    
        &__link {
           color: $clr-text-footer; 
           font-size: 1rem;
           margin-bottom: 1rem;
        }
    }
}