@import "../base/typo";

header {
    font-family: $shrikhand-typo;
    box-shadow: 0 0 0.5rem 0.1rem #c2c2c2;
    padding: 1rem 1rem 0.5rem 1rem;
    position: relative;
    z-index: 10;


    h1 {
        font-size: 2rem;
        text-align: center;
    }

    .previous-arrow {
        position: absolute;
        left: 1.5rem;
        top: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }
}